In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Flipkart_mobile_brands_scraped_data.csv")

In [3]:
df.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0

In [4]:
df['Brand'].unique()

array(['OPPO', 'HTC', 'IQOO', 'Google Pixel', 'LG', 'ASUS', 'realme',
       'GIONEE', 'Nokia', 'Apple', 'SAMSUNG', 'Lenovo', 'Motorola',
       'POCO', 'vivo', 'Xiaomi'], dtype=object)

In [5]:
mobilesbrand_dict = {}
count = 0
for i in df['Brand'].unique():
        mobilesbrand_dict[i] = count
        count = count+1

In [6]:
mobilesbrand_dict

{'OPPO': 0,
 'HTC': 1,
 'IQOO': 2,
 'Google Pixel': 3,
 'LG': 4,
 'ASUS': 5,
 'realme': 6,
 'GIONEE': 7,
 'Nokia': 8,
 'Apple': 9,
 'SAMSUNG': 10,
 'Lenovo': 11,
 'Motorola': 12,
 'POCO': 13,
 'vivo': 14,
 'Xiaomi': 15}

In [7]:
# df['Model'].unique()

In [8]:
df.head(2)

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0

In [9]:
model_dict = {}
count = 0
for i in df['Model'].unique():
        model_dict[i] = count
        count = count+1

In [59]:
model_dict

{'A53': 0,
 'A12': 1,
 'A53s 5G': 2,
 'A33': 3,
 'A31': 4,
 'A74 5G': 5,
 'A11K': 6,
 'F17 Pro': 7,
 'A54': 8,
 'Reno6 5G': 9,
 'F17': 10,
 'A16': 11,
 'Reno5 Pro 5G': 12,
 'A15': 13,
 'A74 5G BLACK': 14,
 'Reno6 Pro 5G': 15,
 'Reno2 F': 16,
 'Reno3 Pro': 17,
 'A15s': 18,
 'A15S': 19,
 'F19 Pro': 20,
 'F19 Pro+ 5G': 21,
 'F19': 22,
 'A7': 23,
 'F5': 24,
 'A5s': 25,
 'Reno': 26,
 'Reno2 Z': 27,
 'F15': 28,
 'K1': 29,
 'A9 2020': 30,
 'Find X': 31,
 'Reno4 Pro Special Edition': 32,
 'F11': 33,
 'A5': 34,
 'Reno4 Pro': 35,
 'A5 2020': 36,
 'F3 Deepika Padukone Limited Edition': 37,
 'F1 Plus': 38,
 'A83 2018 Edition': 39,
 'F3': 40,
 'A3s': 41,
 'A83': 42,
 'K3': 43,
 'F9': 44,
 'A52': 45,
 'A71 New Edition': 46,
 'Neo 7 4G': 47,
 'A71': 48,
 'A57': 49,
 'A1K': 50,
 'A37f': 51,
 'F9 Pro': 52,
 'F19s': 53,
 'A71k': 54,
 'A9': 55,
 'F3 Plus': 56,
 'Rohit Sharma Limited Edition': 57,
 'F17 PRO': 58,
 'Hardik Pandya Limited Editon': 59,
 'Ravichandran Ashwin Limited Edition': 60,
 'F11 Pro': 61,
 'R1 R829': 62,
 'F5 Youth': 63,
 'F7': 64,
 'Neo 5': 65,
 'F1': 66,
 'Reno2': 67,
 'R17': 68,
 'F11 Pro Marvel’s Avengers Limited Edition': 69,
 'Reno 10x Zoom': 70,
 'F1S': 71,
 'N5111': 72,
 'U11+ ': 73,
 'Wildfire X ': 74,
 '3': 75,
 '4a ': 76,
 '3a XL ': 77,
 '3 XL ': 78,
 '3a ': 79,
 'XL ': 80,
 '2 XL ': 81,
 '2': 82,
 nan: 83,
 'W11 ': 84,
 'Velvet Dual Screen ': 85,
 'Q60 ': 86,
 'L90 Dual ': 87,
 'W31 ': 88,
 'W31 Plus ': 89,
 'K42 ': 90,
 'W30 Pro ': 91,
 'Candy K9 ': 92,
 'K9 4G LTE ': 93,
 'W10 ': 94,
 'K-10 ': 95,
 'W41 ': 96,
 'Q Stylus+ ': 97,
 'W10 Alpha ': 98,
 'W30 ': 99,
 'W30 Plus ': 100,
 'G7+ ThinQ ': 101,
 'Stylus 2 ': 102,
 'Max X160 ': 103,
 'V20 ': 104,
 'G8X ': 105,
 'V40 ThinQ ': 106,
 'K7i ': 107,
 'Nexus4 E960': 108,
 'G7 ThinQ ': 109,
 'Nexus 5X ': 110,
 'G5 ': 111,
 'Q6+ ': 112,
 'Spirit 4G LTE ': 113,
 'Velvet ': 114,
 'W41 Plus ': 115,
 'Wing ': 116,
 'W41 Pro ': 117,
 'Optimus L70 ': 118,
 'L60 Dual ': 119,
 'K8 ': 120,
 'G Pro 2 ': 121,
 'Optimus L5 II ': 122,
 'V30+ ': 123,
 'G2 D802 ': 124,
 'Q Stylus ': 125,
 'Q6 ': 126,
 'G6 ': 127,
 'K10 2017 ': 128,
 'V20a ': 129,
 'K10 K420DS ': 130,
 'Q7 ': 131,
 'X Power ': 132,
 'Stylus 2 Plus ': 133,
 'K-7 ': 134,
 'G3 Beat ': 135,
 'G8s ThinQ ': 136,
 'G4 ': 137,
 'Stylus 3 ': 138,
 'L Bello ': 139,
 'G4 Stylus 4G LTE ': 140,
 'X Cam ': 141,
 'Optimus L3 II E425 ': 142,
 'Optimus L7 II Dual ': 143,
 'L 80 Dual ': 144,
 'G3 Stylus ': 145,
 'Q7+ ': 146,
 'X Screen K500I ': 147,
 'Spirit ': 148,
 'ROG Phone 5 ': 149,
 'ROG Phone 3 ': 150,
 'Zenfone Max Pro M1 ': 151,
 'Zenfone 2 Laser ZE500KL ': 152,
 'ZenFone Max M2 ': 153,
 'ZenFone 5Z ': 154,
 '6Z ': 155,
 'Zenfone Go 4.5 ': 156,
 'Zenfone Go 5.5 ': 157,
 'Zenfone Go 3rd Gen': 158,
 'Zenfone Go 2nd Gen': 159,
 'Zenfone Go ': 160,
 'ZenFone Lite L1 ': 161,
 'Zenfone 4 Selfie ': 162,
 'ROG Phone II ': 163,
 'Zenfone GO ': 164,
 'Zenfone Go 5.0 ': 165,
 'ZenFone Max Pro M2 ': 166,
 'Zenfone Go 5.0 LTE 2nd Gen ': 167,
 'Zenfone C ': 168,
 'Zenfone Go 5.0 LTE ': 169,
 'Zenfone Max ZC550KL ': 170,
 'Zenfone Max ': 171,
 'Zenfone Go 4.5 LTE ': 172,
 'ZenFone Max M1 ': 173,
 'ROG ': 174,
 'Zenfone Selfie ': 175,
 'ROG Phone 5 Pro ': 176,
 'ROG Phone 5 Ultimate ': 177,
 'Zenfone Live ': 178,
 'Zenfone Zoom ': 179,
 'C11 2021 ': 180,
 'Narzo 30 5G ': 181,
 'C20 ': 182,
 'C21Y ': 183,
 '8i ': 184,
 'C25s ': 185,
 '8s 5G ': 186,
 'C25Y ': 187,
 'C21 ': 188,
 'Narzo 30 ': 189,
 'Narzo 30A ': 190,
 '8 5G ': 191,
 '8 Pro ': 192,
 'C15 ': 193,
 '8': 194,
 'C12 ': 195,
 'C11 ': 196,
 '7': 197,
 'X7 5G ': 198,
 'Narzo 30 Pro 5G ': 199,
 'C3 ': 200,
 'C15 Qualcomm Edition ': 201,
 '3i ': 202,
 '5 Pro ': 203,
 '7i ': 204,
 'C2 ': 205,
 'X3 SuperZoom ': 206,
 'GT Master Edition ': 207,
 '6i ': 208,
 '6': 209,
 '1': 210,
 'X2 ': 211,
 '5i ': 212,
 'X ': 213,
 'Narzo 50i ': 214,
 'Narzo 50A ': 215,
 'X50 Pro 5G ': 216,
 'X3 ': 217,
 'GT 5G ': 218,
 'X50 Pro ': 219,
 'X7 Pro 5G ': 220,
 'C25 ': 221,
 '7 Pro ': 222,
 'Narzo 20 Pro ': 223,
 'Narzo 20A ': 224,
 'Narzo 20 ': 225,
 'Narzo 10A ': 226,
 'Narzo 10 ': 227,
 '6 Pro ': 228,
 'U1 ': 229,
 'X2 Pro ': 230,
 '5s ': 231,
 'Max ': 232,
 'Max Pro ': 233,
 'F8 Neo ': 234,
 'F103 Pro ': 235,
 'F205 Pro ': 236,
 'A1 ': 237,
 'S11 Lite ': 238,
 'F11 ': 239,
 'F10 Plus ': 240,
 'L800': 241,
 'Pioneer P5W ': 242,
 'S96': 243,
 'L700': 244,
 'P5L ': 245,
 'Pioneer P3 ': 246,
 'P2S ': 247,
 'P5 Mini ': 248,
 'P5_W ': 249,
 'F9 ': 250,
 'X-1 ': 251,
 'M5 Lite 4G ': 252,
 'P7 ': 253,
 'A1 Plus ': 254,
 'Pioneer P4 ': 255,
 'Pioneer P3S ': 256,
 'X1s ': 257,
 'F10 ': 258,
 'F205 ': 259,
 'A1 Lite ': 260,
 'Elife S7 ': 261,
 'Marathon M5 lite CDMA ': 262,
 'Marathon ': 263,
 'Marathon M3 ': 264,
 'M7 Power ': 265,
 'S10 Lite ': 266,
 'S6S ': 267,
 'M3 ': 268,
 'S Plus ': 269,
 'Elife E8 ': 270,
 'F9 Plus ': 271,
 'Pioneer P4S ': 272,
 'Marathon M5 Lite ': 273,
 'P7 Max ': 274,
 'M7 ': 275,
 'F103 3GB Version ': 276,
 'S6 ': 277,
 'S6 Pro ': 278,
 'F103 ': 279,
 'S11 ': 280,
 'V4S ': 281,
 'Marathon M5 Plus ': 282,
 'Ctrl V5 ': 283,
 'G3 ': 284,
 'F103 3Gb Version ': 285,
 'Elife E7 Mini ': 286,
 'Ctrl V4S ': 287,
 'M2 ': 288,
 'Elife S5.1 ': 289,
 'Elife E3 ': 290,
 'Pioneer P2 ': 291,
 'Pioneer P6 ': 292,
 '105 DS 2020': 293,
 'TA-1010/105': 294,
 '105': 295,
 '110 TA-1302 DS': 296,
 '216 DS': 297,
 '150 DS 2020': 298,
 '110 4G': 299,
 '150 TA-1235 DS': 300,
 '6310': 301,
 '105 SS 2021': 302,
 'C01 Plus ': 303,
 '125 DS': 304,
 '5310ds': 305,
 '3310 DS 2020': 306,
 '3.4': 307,
 '125 TA-1253 DS': 308,
 'C20 Plus ': 309,
 'G20 ': 310,
 '5.4': 311,
 'TA-1174 / TA-1299': 312,
 '2.4': 313,
 'G10 ': 314,
 '125 DS 2020': 315,
 '5310 TA-1212 DS': 316,
 '216 DS 2020': 317,
 '215 4G DS 2020': 318,
 '225 4g ds': 319,
 '225 4G DS 2020': 320,
 '2.3': 321,
 '215 4G DS': 322,
 '9': 323,
 '150': 324,
 '105 DS': 325,
 '215': 326,
 '130': 327,
 '108 Dual SIM': 328,
 '107 Dual SIM': 329,
 '150/150 DS': 330,
 '3.2': 331,
 '5.1 Plus ': 332,
 'Ta -1010/105': 333,
 '6.1': 334,
 '2.1': 335,
 '5': 336,
 '106': 337,
 '112': 338,
 '3.1': 339,
 '5.1': 340,
 '220': 341,
 '2.2': 342,
 'Lumia 920 ': 343,
 '3.1 Plus ': 344,
 'Asha 503 ': 345,
 '110': 346,
 '225': 347,
 '8110': 348,
 '8 Sirocco ': 349,
 'RM-1172 / Nokia 230 DS': 350,
 '5.3': 351,
 'Lumia 625 ': 352,
 '6.1 Plus ': 353,
 'Asha 311 ': 354,
 '8.1': 355,
 '7.2': 356,
 '7.1': 357,
 '8110 4G': 358,
 'X2 Dual SIM ': 359,
 'Lumia 510 ': 360,
 '7 Plus ': 361,
 'Asha 206': 362,
 '222': 363,
 '6.2': 364,
 '4.2': 365,
 'Asha 502 ': 366,
 'XPlus ': 367,
 '515': 368,
 'iPhone SE ': 369,
 'iPhone XR ': 370,
 'iPhone 12 Mini ': 371,
 'iPhone 13 Pro ': 372,
 'iPhone 11 ': 373,
 'iPhone 12 ': 374,
 'iPhone 13 ': 375,
 'iPhone 13 Mini ': 376,
 'iPhone 12 Pro Max ': 377,
 'iPhone 12 Pro ': 378,
 'iPhone 11 Pro Max ': 379,
 'iPhone 8 Plus ': 380,
 'iPhone 11 Pro ': 381,
 'iPhone XS ': 382,
 'iPhone 8 ': 383,
 'iPhone 13 Pro Max ': 384,
 'iPhone 6s Plus ': 385,
 'iPhone 6 Plus ': 386,
 'iPhone XS Max ': 387,
 'iPhone 7 Plus ': 388,
 'iPhone 6s ': 389,
 'iPhone 7 ': 390,
 'iPhone 6 ': 391,
 'iPhone X ': 392,
 'iPhone 6s': 393,
 'Galaxy F22 ': 394,
 'Galaxy F12 ': 395,
 'M31s ': 396,
 'M02s ': 397,
 'Guru 1200': 398,
 'Galaxy M02 ': 399,
 'Galaxy A12 ': 400,
 'Galaxy A22 ': 401,
 'Galaxy A22 5G ': 402,
 'Galaxy M12 ': 403,
 'M31 ': 404,
 'M21 2021 Edition ': 405,
 'Galaxy A21s ': 406,
 'GALAXY M31S ': 407,
 'M32 5G ': 408,
 'Metro 313 Dual Sim': 409,
 'Galaxy M31 ': 410,
 'Galaxy Z Flip3 5G ': 411,
 'Galaxy M01 ': 412,
 'Galaxy A03s ': 413,
 'Galaxy F02s ': 414,
 'Galaxy A72 ': 415,
 'Galaxy M31s ': 416,
 'Galaxy M32 ': 417,
 'Galaxy A51 ': 418,
 'Galaxy F62 ': 419,
 'Galaxy A52s 5G ': 420,
 'Galaxy M21 2021 Edition ': 421,
 'Galaxy M11 ': 422,
 'Galaxy S10 Lite ': 423,
 'Galaxy F41 ': 424,
 'Galaxy A52 ': 425,
 'Galaxy A32 ': 426,
 'S20 FE 5G ': 427,
 'Galaxy S10 ': 428,
 'M01 core ': 429,
 'GALAXY M51 ': 430,
 'Galaxy Note 20 ': 431,
 'Guru Music 2': 432,
 'Galaxy Note10 Lite ': 433,
 'Galaxy A71 ': 434,
 'Guru FM Plus SM-B110E/D': 435,
 'Galaxy A70s ': 436,
 'Guru Music 2 SM-B310E': 437,
 'Guru FM Plus': 438,
 'Galaxy Z Fold3 5G ': 439,
 'Galaxy M32 5G ': 440,
 'Guru GT': 441,
 'Galaxy A50s ': 442,
 'Guru Plus B110': 443,
 'Galaxy S9 Plus ': 444,
 'Metro 313': 445,
 'Galaxy A6 ': 446,
 'Galaxy A6+ ': 447,
 'Galaxy On7 ': 448,
 'Galaxy A70 ': 449,
 'Galaxy A31 ': 450,
 'M21 2021 Edition': 451,
 'Galaxy Note 20 Ultra 5G ': 452,
 'Galaxy M01s ': 453,
 'Metro 350': 454,
 'Galaxy A20s ': 455,
 'Galaxy J7 Prime ': 456,
 'Galaxy S20 FE ': 457,
 'Galaxy A30s ': 458,
 'Galaxy A7 ': 459,
 'Galaxy J2 Core ': 460,
 'Galaxy J6 ': 461,
 'Galaxy A20 ': 462,
 'Galaxy A10s ': 463,
 'Galaxy M21 ': 464,
 'Galaxy J2 2018 ': 465,
 'Galaxy J7 Nxt ': 466,
 'Galaxy M30 ': 467,
 'Galaxy M42 ': 468,
 'Galaxy J7 Duo ': 469,
 'Galaxy A9 ': 470,
 'Galaxy J6 Plus ': 471,
 'Galaxy Fold 2 ': 472,
 'Galaxy J7 - 6 New 2016 Edition) ': 473,
 'Galaxy S20 Ultra ': 474,
 'Galaxy Note 9 ': 475,
 'Galaxy A10 ': 476,
 'Metro B313E Dual Sim - White': 477,
 'Galaxy M40 ': 478,
 'Galaxy J2 ': 479,
 'Galaxy A50 ': 480,
 'B350': 481,
 'Galaxy J2-2017 ': 482,
 'Galaxy Grand 2 ': 483,
 'Galaxy S10 Plus ': 484,
 'Galaxy J4 ': 485,
 'Galaxy A30 ': 486,
 'Galaxy M51 ': 487,
 'Galaxy J5 Prime ': 488,
 'Galaxy S6 Edge ': 489,
 'Sm-B110E/D': 490,
 'Galaxy S21 Ultra ': 491,
 'Galaxy J8 ': 492,
 'Galaxy A7-2017 ': 493,
 'Galaxy J4 Plus ': 494,
 'Galaxy A8 Plus ': 495,
 'Galaxy A80 ': 496,
 'Galaxy M30s ': 497,
 'Galaxy S5 ': 498,
 'Galaxy J7 Prime 2 ': 499,
 'Galaxy S21 Plus ': 500,
 'SAMSUNG Metro 350 Dual Sim': 501,
 'Galaxy S21 ': 502,
 'Galaxy M42 5G ': 503,
 'Galaxy On8 ': 504,
 'Galaxy S20+ ': 505,
 'Galaxy A2 Core ': 506,
 'Galaxy M10 ': 507,
 'M31 Prime ': 508,
 'Galaxy Star 2 ': 509,
 'B351E/Metro 350': 510,
 'Galaxy S9 ': 511,
 'Galaxy A7 2016 Edition ': 512,
 'Metro XL': 513,
 'Z2 ': 514,
 'Galaxy M10S ': 515,
 'Galaxy J1 Ace ': 516,
 'Z1 ': 517,
 'Galaxy M20 ': 518,
 'Galaxy J5 ': 519,
 'Galaxy On6 ': 520,
 'Galaxy Note 5 ': 521,
 'Galaxy S4 Mini ': 522,
 'Galaxy A9 Pro ': 523,
 'Galaxy J2 - 2016 ': 524,
 'Galaxy J2 Pro ': 525,
 'Galaxy Note 10 Plus ': 526,
 'Galaxy S8 ': 527,
 'Z4 ': 528,
 'Galaxy Star Advance ': 529,
 'Galaxy J1 ': 530,
 'Galaxy S20 ': 531,
 'Galaxy Z Flip ': 532,
 'Galaxy Alpha ': 533,
 'Galaxy Core Prime G361 Dual Sim - White ': 534,
 'Metro': 535,
 'Galaxy E7 ': 536,
 'Galaxy Note 8 ': 537,
 'Galaxy A5-2017 ': 538,
 'Tizen Z3 ': 539,
 'Galaxy On Nxt ': 540,
 'Galaxy M30S ': 541,
 'Galaxy J2 Ace ': 542,
 'Galaxy S4 ': 543,
 'Galaxy Note 3 ': 544,
 'Galaxy S Duos 3 ': 545,
 'Galaxy A3 ': 546,
 'Galaxy Note 3 Neo ': 547,
 'Galaxy A8 ': 548,
 'Metro B312E Dual Sim - White': 549,
 'Galaxy A5 2016 Edition ': 550,
 'Galaxy J7 ': 551,
 'Galaxy Core ': 552,
 'Metro SM-B313ez': 553,
 'Galaxy Note 10 ': 554,
 'Galaxy Grand Neo ': 555,
 'Galaxy Note 4 ': 556,
 'On7 Pro ': 557,
 'Galaxy S10e ': 558,
 'Galaxy S7 Edge ': 559,
 'Galaxy A8 Star ': 560,
 'Galaxy S3 Neo ': 561,
 'Galaxy C7 Pro ': 562,
 'GT 1200 R/I/M': 563,
 'Galaxy Folder 2 ': 564,
 'SM-B310EZDDINS': 565,
 'Galaxy J5 - 6 New 2016 Edition) ': 566,
 'Metro 360': 567,
 'Z3 ': 568,
 'Grand Prime 4G ': 569,
 'Galaxy Ace NXT ': 570,
 'Fold 2 5G ': 571,
 'Galaxy Core Prime ': 572,
 'On5 Pro ': 573,
 'Galaxy A5 ': 574,
 'Guru E1207T': 575,
 'Galaxy Star ': 576,
 'Galaxy Grand Neo Plus ': 577,
 'Galaxy Note Edge ': 578,
 'Galaxy S6 ': 579,
 'Grand Prime ': 580,
 'Galaxy S8 Plus ': 581,
 'Rex 60': 582,
 'Galaxy S7 ': 583,
 'Galaxy E5 ': 584,
 'Galaxy Star Pro ': 585,
 'Galaxy Trend ': 586,
 'Sm-G361Hhadins ': 587,
 'Galaxy Grand Quattro ': 588,
 'Galaxy Grand I9082 ': 589,
 'Galaxy Mega 5.8 ': 590,
 'Galaxy Note 5 Dual ': 591,
 'GURU FM PLUS': 592,
 'Galaxy Core 2 ': 593,
 'Galaxy Pocket Neo ': 594,
 'Galaxy S Duos 2 ': 595,
 'Galaxy S4 Zoom ': 596,
 'Galaxy Grand Prime 4g ': 597,
 'S7 Edge ': 598,
 'Galaxy S6 Edge+ ': 599,
 'A6600d40 ': 600,
 'K8 Plus ': 601,
 'K3 Note ': 602,
 'S930 ': 603,
 'A269i ': 604,
 'A7 ': 605,
 'A5 ': 606,
 'A2010 ': 607,
 'Vibe Shot ': 608,
 'A7700 ': 609,
 'K8 Note ': 610,
 'K9 ': 611,
 'VIBE P1m ': 612,
 'Z2 Plus ': 613,
 'Vibe K5 Note ': 614,
 'B ': 615,
 'S850 ': 616,
 'A6600 ': 617,
 'A5000 ': 618,
 'A6600 Plus ': 619,
 'A536 ': 620,
 'A7000 ': 621,
 'K10 Note ': 622,
 'A7000 Turbo ': 623,
 'Vibe K5 Plus ': 624,
 'K6 Note ': 625,
 'K6 Power ': 626,
 'X2-AP ': 627,
 'K10 Plus ': 628,
 'P770 ': 629,
 'VIBE P1 ': 630,
 'K4 Note ': 631,
 'S660 ': 632,
 'Vibe Z2 Pro ': 633,
 'K9 Note ': 634,
 'P780 ': 635,
 'A850 ': 636,
 'A390 ': 637,
 'P2 ': 638,
 'A328 ': 639,
 'A6 Note ': 640,
 'Vibe P1 Turbo ': 641,
 'A1000 ': 642,
 'A6000 Plus ': 643,
 'S560 ': 644,
 'Sisley S60 ': 645,
 'P70 ': 646,
 'A319 ': 647,
 'S90 Or Sisley S90 ': 648,
 'A6000 Shot ': 649,
 'Vibe S1 ': 650,
 'K6 POWER ': 651,
 'K3 Note Music ': 652,
 'ZUK Z1 ': 653,
 'E7 Power ': 654,
 'Edge 20 Fusion ': 655,
 'G10 Power ': 656,
 'G60 ': 657,
 'G40 Fusion ': 658,
 '2nd Generation ': 659,
 'Edge 20 ': 660,
 'G8 Power Lite ': 661,
 'X4': 662,
 'Razr 5G ': 663,
 'E5': 664,
 'Razr ': 665,
 'X Play': 666,
 'C Plus': 667,
 'G6': 668,
 'M': 669,
 'One Vision ': 670,
 'G30 ': 671,
 'G5': 672,
 'G9 Power ': 673,
 'G 2nd Generation ': 674,
 'One Fusion+ ': 675,
 'G9 ': 676,
 'E7 Plus ': 677,
 'One Action ': 678,
 'E 2nd Gen 3G ': 679,
 'E6s': 680,
 'C': 681,
 'E5 Plus': 682,
 'Edge+ ': 683,
 'G 3rd Generation ': 684,
 'One Macro ': 685,
 'G5s': 686,
 'X 2nd Generation ': 687,
 'G7': 688,
 'One': 689,
 'Z2 Play': 690,
 'One Power ': 691,
 'Quench X T3': 692,
 'G8 Plus': 693,
 'G': 694,
 'G6 Play': 695,
 'XT502': 696,
 'G6 Plus ': 697,
 'G4 Plus': 698,
 'G7 Power': 699,
 'G4': 700,
 'Z Play': 701,
 'G5 Plus': 702,
 'Z2 Force': 703,
 'X3 Pro ': 704,
 'M3 Pro 5G ': 705,
 'M2 Reloaded ': 706,
 'Y20G ': 707,
 'Y21 ': 708,
 'Y20A 2021 ': 709,
 'Y33s ': 710,
 'Y20A ': 711,
 'Y12s ': 712,
 'Y20G 2021 ': 713,
 'Y73 ': 714,
 'Y1s ': 715,
 'Y12G ': 716,
 'Y51A ': 717,
 'Y1S ': 718,
 'Y72 5G ': 719,
 'V21e ': 720,
 'Y20 ': 721,
 'V20 SE ': 722,
 'Y11 ': 723,
 'Y53s ': 724,
 'X60 ': 725,
 'V20 2021 ': 726,
 'V21 5G ': 727,
 'Y91i ': 728,
 'Y31 ': 729,
 'Y30 ': 730,
 'V20 Pro ': 731,
 'Mi 10 ': 732,
 'Mi 10i ': 733,
 'Mi 10T ': 734,
 'Mi 11 Lite ': 735,
 'Mi 11X ': 736,
 'MI 11X 5G ': 737,
 'Mi 11X Pro 5G ': 738,
 'Mi A2 ': 739,
 'Mi A3 ': 740,
 'Mi Max 2 ': 741,
 'MI3 ': 742,
 'Redmi 5 ': 743,
 'Redmi 6 ': 744,
 'Redmi 6 Pro ': 745,
 'Redmi 6A ': 746,
 'Redmi 7 ': 747,
 'Redmi 7A ': 748,
 'Redmi 8 ': 749,
 'Redmi 8A ': 750,
 'Redmi 8A Dual ': 751,
 'Redmi 9 ': 752,
 'REDMI 9 Power ': 753,
 'REDMI 9 Prime ': 754,
 'Redmi 9A ': 755,
 'REDMI 9i ': 756,
 'Redmi K20 ': 757,
 'Redmi K20 Pro ': 758,
 'REDMI Note 10 Pro ': 759,
 'REDMI Note 10S ': 760,
 'Redmi Note 4 ': 761,
 'Redmi Note 5 ': 762,
 'Redmi Note 5 Pro ': 763,
 'Redmi Note 6 Pro ': 764,
 'Redmi Note 7 ': 765,
 'Redmi Note 7 Pro ': 766,
 'Redmi Note 7S ': 767,
 'Redmi Note 8 ': 768,
 'REDMI Note 9 ': 769,
 'Redmi Note 9 Pro ': 770,
 'Redmi Y1 ': 771,
 'Redmi Y2 ': 772,
 'Redmi Y3 ': 773}

In [11]:
df.isnull().sum()

Brand                0
Model                2
Color              142
Memory              42
Storage             79
Rating               0
Selling Price        3
Original Price    1678
dtype: int64

In [12]:
df.shape

(2647, 8)

In [13]:
# droping color column and Original price column

In [14]:
df.drop(['Color','Original Price'],axis=1,inplace=True)

In [15]:
df.head(2)

  Brand Model Memory Storage  Rating  Selling Price
0  OPPO   A53   4 GB   64 GB     4.5        11990.0
1  OPPO   A53   4 GB   64 GB     4.5        11990.0

In [16]:
df.dtypes

Brand             object
Model             object
Memory            object
Storage           object
Rating           float64
Selling Price    float64
dtype: object

In [17]:
df.dropna(inplace=True)

In [18]:
df.shape

(2540, 6)

In [19]:
import numpy as np

In [20]:
def convert_memory(x):
    try:
        res = float(x.split(' ')[0])
        return res
    except:
        return np.NAN

In [21]:
df.head()

  Brand Model Memory Storage  Rating  Selling Price
0  OPPO   A53   4 GB   64 GB     4.5        11990.0
1  OPPO   A53   4 GB   64 GB     4.5        11990.0
2  OPPO   A53   6 GB  128 GB     4.3        13990.0
3  OPPO   A53   6 GB  128 GB     4.3        13990.0
4  OPPO   A53   4 GB   64 GB     4.5        11990.0

In [22]:
df['Memory'] = df['Memory'].apply(convert_memory)

In [23]:
df.dtypes

Brand             object
Model             object
Memory           float64
Storage           object
Rating           float64
Selling Price    float64
dtype: object

In [24]:
df['Memory']

0       4.0
1       4.0
2       6.0
3       6.0
4       4.0
       ...
2642    4.0
2643    3.0
2644    4.0
2645    3.0
2646    4.0
Name: Memory, Length: 2540, dtype: float64

In [25]:
df.shape

(2540, 6)

In [26]:
df['Storage'] = df['Storage'].apply(convert_memory)

In [27]:
df.shape

(2540, 6)

In [28]:
df.dtypes

Brand             object
Model             object
Memory           float64
Storage          float64
Rating           float64
Selling Price    float64
dtype: object

In [29]:
df['Brand'] = df['Brand'].map(mobilesbrand_dict)
df['Model'] = df['Model'].map(model_dict)

In [30]:
df.dtypes

Brand              int64
Model              int64
Memory           float64
Storage          float64
Rating           float64
Selling Price    float64
dtype: object

In [31]:
import sklearn

In [32]:
df.head(20)

    Brand  Model  Memory  Storage  Rating  Selling Price
0       0      0     4.0     64.0     4.5        11990.0
1       0      0     4.0     64.0     4.5        11990.0
2       0      0     6.0    128.0     4.3        13990.0
3       0      0     6.0    128.0     4.3        13990.0
4       0      0     4.0     64.0     4.5        11990.0
5       0      0     6.0    128.0     4.3        13990.0
6       0      1     4.0     64.0     4.4        10490.0
7       0      1     3.0     32.0     4.4         9490.0
8       0      1     3.0     32.0     4.4         9490.0
9       0      1     3.0     32.0     4.4         9490.0
10      0      1     3.0     32.0     4.4         9490.0
11      0      1     4.0     64.0     4.4        10490.0
12      0      2     6.0    128.0     4.3        15990.0
13      0      2     6.0    128.0     4.3        15990.0
14      0      1     4.0     64.0     4.4        10490.0
15      0      2     8.0    128.0     4.3        17990.0
16      0      2     8.0    128.0     4.3        17990.0
17      0      3     3.0     32.0     4.3        10490.0
18      0      4     4.0     64.0     4.3        11960.0
19      0      4     4.0     64.0     4.3        11779.0

In [41]:
inputs = df.drop('Selling Price',axis=1)

In [42]:
output = df['Selling Price']

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
df.isnull().sum()

Brand              0
Model              0
Memory           125
Storage           22
Rating             0
Selling Price      0
dtype: int64

In [37]:
df.dropna(inplace=True)

In [38]:
df.isnull().sum()

Brand            0
Model            0
Memory           0
Storage          0
Rating           0
Selling Price    0
dtype: int64

In [39]:
df

      Brand  Model  Memory  Storage  Rating  Selling Price
0         0      0     4.0     64.0     4.5        11990.0
1         0      0     4.0     64.0     4.5        11990.0
2         0      0     6.0    128.0     4.3        13990.0
3         0      0     6.0    128.0     4.3        13990.0
4         0      0     4.0     64.0     4.5        11990.0
...     ...    ...     ...      ...     ...            ...
2642     15    773     4.0     64.0     4.3        12999.0
2643     15    773     3.0     32.0     4.3         9450.0
2644     15    773     4.0     64.0     4.2        12999.0
2645     15    773     3.0     32.0     4.2         9950.0
2646     15    773     4.0     64.0     4.3        12499.0

[2393 rows x 6 columns]

In [43]:
lr = LinearRegression()
lr.fit(inputs,output)

LinearRegression()

In [44]:
df.loc[20]

Brand                0.0
Model                5.0
Memory               6.0
Storage            128.0
Rating               4.3
Selling Price    18979.0
Name: 20, dtype: float64

In [45]:
lr.predict([[0,5,6,128,4.3]])

c:\users\palle\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([28901.33312067])

In [46]:
from sklearn.linear_model import Lasso


ls = Lasso()
ls.fit(inputs,output)

Lasso()

In [47]:
ls.predict([[0,5,6,128,4.3]])

c:\users\palle\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

array([28900.66380973])

In [48]:
df.loc[40]

Brand                0.0
Model               12.0
Memory               8.0
Storage            128.0
Rating               4.4
Selling Price    35990.0
Name: 40, dtype: float64

In [49]:
ls.predict([[0.0,12.0,8.0,128.0,4.4]])

c:\users\palle\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

array([28474.4977999])

In [50]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
rf = RandomForestRegressor()
rf.fit(inputs,output)

RandomForestRegressor()

In [52]:
rf.predict([[0.0,12.0,8.0,128.0,4.4]])

c:\users\palle\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([34729.41666667])

In [53]:
rf.predict([[0,5,6,128,4.3]])

c:\users\palle\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([17077.83428571])

In [54]:
from sklearn.tree import DecisionTreeRegressor

In [55]:
dt = DecisionTreeRegressor()
dt.fit(inputs,output)

DecisionTreeRegressor()

In [56]:
dt.predict([[0,5,6,128,4.3]])

c:\users\palle\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([18979.])

In [57]:
dt.predict([[0.0,12.0,8.0,128.0,4.4]])

c:\users\palle\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([35990.])

In [58]:
import pickle
file1 = open('model.sav','wb')
pickle.dump(dt,file1)